body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: red;
    font-weight: bold;
}

/*Bootstrap Overrides*/
.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}

.navbar-inverse .navbar-nav > li > a {
        color: #ffffff;
}


.navbar-inverse .navbar-brand {
        color: #ffffff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #8f2626;
}

.navbar-brand {
    font-weight:700;
}

.dropdown-menu{
    box-shadow:none;
    -webkit-box-shadow:none;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    padding: 20px 15px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}

.form-control:focus{
    border-color:#2196f3;
    box-shadow:none;
    -webkit-box-shadow:none;
}

.btn {
    font-size: 17px;
    padding: 7px 20px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}

/*Page-level styles*/

.posts{
    list-style:none;
}



.posts > li {
    position:relative;
    margin-bottom:20px;

}

.posts > li > .info {
    position: relative;
}

.posts > li > .info .tps {
    position: absolute;
    top:0;
    left: 350px;
}

.posts > li > .info .nom {
   font-weight:bold;     
}

.posts > li > .text {
   width: 400px;
   background:#f7f7f7;
   color:#333;
   font-size:14px;
   padding: 6px 12px;
   border-radius:8px;
}

.posts > li > .categorie {
   font-size: 12px;
}


