@model WebAppMVC.Models.ChangeProfilePicViewModel
@{
    ViewBag.Title = "ChangeProfilePic";
    Layout = "~/Views/Shared/_PartialLayoutPage.cshtml";
}

@using (Html.BeginForm("ChangeProfilePic", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Changer la photo de profil</h4>
    
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.UserPhoto, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">

            <input type="file" name="UserPhotoupload" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" />

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Enregistrer" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


